{% extends 'layout.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <form action="/users/new" method="post">
        <label>Имя</label>
        <input type="text" name="name" required>
        <button type="submit">Сохранить</button>
    </form>
    <ul>
        {% for user in users %}
            <li>
                <a href="/users/{{ user.id }}">{{ user.name }}</a>
                <form action="/users/delete" method="post">
                    <input type="hidden" name="id" value="{{ user.id }}"/>
                    <button type="submit">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
